<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes do Pedido</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <h1>Detalhes do Pedido</h1>
    <p><strong>Código do Estabelecimento:</strong> {{ order.establishmentCode }}</p>
    <p><strong>Código do Pedido:</strong> {{ order.code }}</p>
    <p><strong>Nome:</strong> {{ customer.name }}</p>
    <p><strong>CPF:</strong> {{ customer.cpf }}</p>
    <p><strong>E-mail:</strong> {{ customer.email }}</p>
    <p><strong>Número de Celular:</strong> {{ customer.phoneNumber }}</p>
    <p><strong>Status:</strong> {{ getStatusDescription(order.status) }}</p>
    <p><strong>Criado em:</strong> {{ formatDate(order.createdAt) }}</p>
    <button @click="goBack">Voltar</button>
    <button @click="setCooking" v-if="order.status === 'waiting_cook_confirmation'">Marcar Em Preparo</button>
    <button @click="setReady" v-if="order.status === 'cooking'">Marcar Pronto</button>
    <hr>
    <div v-if="['cooking', 'waiting_cook_confirmation'].includes(order.status)">
      <button @click="setCanceled">Marcar Cancelado</button>
      <input type="text" v-model="cancelReason" placeholder="Motivo do cancelamento">
    </div>
    <div v-if="order.status === 'canceled'">
      <div v-if="cancelReason.length >= 3">
        <p> <strong>Motivo do Cancelamento:</strong> {{ cancelReason }} </p>
      </div>
    </div>
  </div>




  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="details.js"></script>
</body>

</html>