<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PaLeva - Pedidos</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <h1>Pedidos do Estabelecimento</h1>

    <input type="text" v-model="searchCodeText" placeholder="Entre com um código de pedido">
    <div>
      <label>
        <input type="radio" name="option" value="all" v-model="selectedFilter"> Todos
      </label>
      <label>
        <input type="radio" name="option" value="waiting_cook_confirmation" v-model="selectedFilter"> Esperando
        Confirmação
      </label>
      <label>
        <input type="radio" name="option" value="cooking" v-model="selectedFilter"> Em Preparo
      </label>
    </div>
    <div class="noOrder" v-if="listResultOrders.length <= 0">
      Nenhum pedido encontrado.
    </div>
    <ul>
      <li v-for="item in listResultOrders">
        <address>
          <b>Pedido: {{ item.code }}</b><br>
          Dados do Pedido ------------ <br>
          Status Atual: {{ getStatusDescription(item.status) }} <br>
          Pedido Criado em: {{ formatDate(item.createdAt) }} <br>
          <button @click="redirectToDetails(item.id)">Detalhes do Pedido</button>
        </address>
        <br>
      </li>
    </ul>
  </div>



  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="index.js"></script>
</body>

</html>